<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of the banner section-->
<section class="banner-section">
    <div class="banner-container">
        <h1>ADMIRE MY HTML WEBSITE</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam at consectetur consequuntur culpa, distinctio facilis
            magnam maiores minima nostrum pariatur quae quasi quia rerum suscipit totam ut, vel vitae!</p>
        <button class="btn-signup">Sign up</button>
        <button class="btn-signin">Sign in</button>
    </div>
</section>
<!--End of the banner section-->
<!--Start of about section-->
<section class="about-section">
    <div class="about-container">
        <div class="top-about-container">
          <h2>This is the best design</h2> 
            <h4>Proffessional</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at commodi culpa earum, eius eveniet expedita in inventore ipsum laborum,
                libero nisi nobis porro quisquam quos reprehenderit soluta tempora veniam.</p>
            <h4>Check it out</h4>
            <button class="top-about-button">Get started</button>
        </div>
        <div class="bottom-about-container"></div>
    </div>
</section>
<!--End of about section-->
<section></section>
<section></section>
<section></section>
</body>
</html>